#-------------------------------
# crawl_frontier
#-------------------------------
SQLAlchemy==0.9.8
six==1.8.0
w3lib==1.10.0
tldextract==1.5.1
colorlog==2.4.0
pytest==2.6.4

#-------------------------------
# graph diagrams
#-------------------------------
pyparsing==1.5.7

--allow-external pydot
--allow-unverified pydot
--allow-external pydot==1.0.28

